* {
  margin: 0;
  padding: 0;
}

.container {
  width: 400px;
  height: auto;
  background: green;
  color: #fff;
  margin: 45px 0 0 45px;
}

#valueArea {
  display: inline-block;
  width: 294px;
  height: 61px;
  position: absolute;
  top: 48px;
  background: #008000;
  margin-left: 3px;
}

.clear {
  display: inline-block;
  width: 96px;
  height: 70px;
  background: #008000;
}
.numbers button {
  width: 96px;
  height: 70px;
  background: #008000;
}