.container {
  background: #61B350;
  width: 390px;
  height: auto;
  margin: 70px 0 0 416px;
}

.calculatorTop,
.calculator2,
.calculator3,
.calculator4,
.calculator5, {
  display: inline-block;
  width: 41px;
}

.clear {
  padding: 45px;
  width: 41px;
  background: #5EB44A;
  color: #fff;
}

.number {
  padding: 45px;
  width: 41px;
  background: #5EB44A;
  color: #fff;
}
